<?xml version="1.0"?>
<launch>

<!-- warehouse simulation environment -->
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find warehouse_simulation)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find warehouse_simulation)/models"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find warehouse_simulation)/worlds/warehouse.world"/>
    <arg name="paused" value="false"/>
    <arg name="gui" value="true"/> 
  </include>
<!--Map-->
     <!-- map file-->
    <arg name="map_file" default="$(find warehouse_simulation)/maps/general_map.yaml"/>
<!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />




<!-- keyboard control 
  <node name="key_control" pkg="warehouse_simulation" type="key_control" respawn="false" output="screen"/>

 -->




<!-- rviz-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find warehouse_simulation)/rviz/navigation.rviz" output="screen"/>



</launch>