<!-- my_robot_package/launch/spawn_box_bot.launch -->
<launch>
  <arg name="model" default="$(find warehouse_simulation)/models/box_bot/model.sdf"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model) -sdf -model box_bot" />
</launch>
